langchain-community==0.3.20
faiss-cpu==1.11.0
langchain-google-genai==2.0.10
langchain==0.3.22
streamlit
streamlit_authenticator
streamlit_option_menu
nltk
PyPDF2
pdfplumber
plotly
gensim
pyLDAvis
jsonlines
